<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  The <a href="http://google.ie"><em>demo app</em></a> is a
<p>  <a href="http://google.ie"></a>  </p>
  <a href="http://google.ie">more google</a>
    <p>phone number</p>
    <p>email</p>
<p>  <a href="http://google.ie">demo app</a>.</p>
  lorem ipsum
</p>
