<% provide(:title, "Help") %>
<h1>Help</h1>
    <p>
      lorem ipsum
      <a href="http://www.google.ie">link</a>.
      lorem ipsum
      <a href="http://www.google.ie"><em>link</em> lorem ipsum</a>.
    </p>
